/* Created by Space Invader on 04.04.2016. */

.labelComponent {
  margin: 12px 0;
  position: relative;

  & > .label {
    display: block;
    clear: fix;
    & > span {
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: 800;
      color: #000;
      display: block;
      margin: 0 0 4px 0;
    }
  }

  &.required {
    & > .label {
      & > span {
        &:after {
          content: ' *';
          color: red;
        }
      }
    }
  }
}

.inputComponent {
  position: relative;

  & > .icon {
    position: absolute;
    color: #949596;
    padding: 9px;
  }

  & > .input {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #000;
    display: block;
    padding: 7px 7px 7px 30px;
    outline: none;
    border: 1px solid #cad2d3;
    border-radius: 5px;
    width: 100%;
  }

  &.error {
    & > .icon {
      color: #c72f2c;
    }

    & > .input {
      border: 1px solid #c72f2c;
    }
  }
}

.dropdownComponent {
  position: relative;

  :global(.Select-control) {
    padding: 0;
    margin: 0;
    border: 1px solid #cad2d3 !important;
    box-shadow: none !important;
    width: 100%;
    border-radius: 18px;
    background-color: #fff;
  }

  :global(.Select-control.is-open) {
    border-radius: 18px 18px 0 0;
  }

  :global(.Select-menu-outer) {
    border-radius: 0 0 18px 18px;
  }

  :global(.Select-option) {
    background-color: transparent;

    &.is-focused {
      background-color: transparent;
    }

    &:last-child {
      border-radius: 0 0 18px 18px;
    }
  }

  :global(.is-focused:not(.is-open)) {
    & .Select-control {
      border-color: transparent;
    }
  }

  :global(.is-pseudo-focused:not(.is-open)) {
    & .Select-control {
      border-color: transparent;
    }
  }

  :global(.has-value:not(.is-open)) {
    & .Select-control {
      border-color: transparent;
    }
  }

  & > .caret {
    position: absolute;
    top: 10px;
    right: 10px;
    pointer-events: none;
    color: #f17030;
  }

  :global(.Select-clear-zone) {
    display: none;
  }

  :global(.Select-arrow-zone) {
    display: none;
  }

  &.error {
    :global(.Select-control) {
      border: 1px solid #c72f2c;
    }
  }

}

.fakeDropdownComponent {
  position: relative;

  & > .dropdown {
    padding: 0;
    margin: 0;
    border: 1px solid #cad2d3;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    background-color: #fff;

    & > .fake {
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: 400;
      color: #000;
      display: block;
      padding: 6px 34px 6px 17px;
      width: 100%;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      appearance: none;
      outline: none;
      text-align: left;
    }
  }
  & > .caret {
    position: absolute;
    top: 10px;
    right: 10px;
    pointer-events: none;
    color: #f17030;
  }

  &.error {
    & > .dropdown {
      border: 1px solid #c72f2c;
    }
  }
}

.radioComponent {
  position: relative;
  display: inline-block;
  margin: 8px 30px 8px 0;

  & > .label {
    & > .radio {
      position: absolute;
      opacity: 0;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 15px;
      width: 15px;
      padding: 0;
      border: 0;
      left: 0;
    }

    & > .custom {
      position: relative;
      padding: 0 0 0 30px;
      font-family: 'Roboto';
      font-weight: 400;
      color: #333;
      font-size: 16px;

      &:before {
        content: '';
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 50%;
        cursor: pointer;
      }

      &:after {
        content: '';
        width: 8px;
        height: 8px;
        background-color: #f17030;
        position: absolute;
        left: 7px;
        top: 7px;
        border-radius: 50%;
        opacity: 0;
        transform: scale(.1);
        transition: .2s ease all;
        cursor: pointer;
      }
    }

    & > .radio:checked + .custom {
      &:after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.checkboxComponent {
  position: relative;
  display: inline-block;
  margin: 8px 30px 8px 0;

  & > .label {
    & > .checkbox {
      position: absolute;
      opacity: 0;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 15px;
      width: 15px;
      padding: 0;
      border: 0;
      left: 0;
    }

    & > .custom {
      position: relative;
      padding: 0 0 0 30px;
      font-family: 'Roboto';
      font-weight: 400;
      color: #333;
      font-size: 16px;

      &:before {
        content: '';
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 4px;
        cursor: pointer;
      }

      &:after {
        content: '';
        width: 16px;
        height: 16px;
        position: absolute;
        left: 4px;
        top: 5px;
        border-radius: 50%;
        opacity: 0;
        transform: scale(.1);
        transition: .2s ease all;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAMAAABcOc2zAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAolBMVEXkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZibkZib////0fmR6AAAANHRSTlMAWfKEXvyIY/3pD0oDaf71RRbTpW3zP9CpBXTxPM+tffA30e0zE83rMBHK6CzF5ikNudomYPQOAwAAAAFiS0dENd622WsAAAB2SURBVAjXY2BAAoxMzMhcBhZWExM2JD47h4mJCScDAxc3D5jPywfk8wswCAqZCINEREB8UTEGBnEgLSHJIAWkTKRlgDKyIJacPIhUUARpFVQygQJlFYjhqmoQvroGzDpNLRBfWwfhAC5dExM9fWQnGhgaGcPYACgODvDal5XGAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE2LTA0LTE4VDE2OjM1OjM4KzAwOjAw6hSGywAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNi0wNC0xOFQxNjozNTozOCswMDowMJtJPncAAAAASUVORK5CYII=');
        cursor: pointer;
      }
    }

    & > .checkbox:checked + .custom {
      &:after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.textareaComponent {
  position: relative;

  & > .tip {
    position: absolute;
    right: 5px;
    top: -20px;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    color: #000;
  }

  & > .textarea {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #000;
    display: block;
    padding: 7px;
    outline: none;
    border: 1px solid #cad2d3;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    max-height: 300px;
  }

  &.error {
    & > .icon {
      color: #c72f2c;
    }

    & > .textarea {
      border: 1px solid #c72f2c;
    }
  }
}

/* datepicker input */
.datepickerComponent {
  position: relative;
  max-width: 360px;

  & > :global(.react-datepicker__input-container) {
    & > input {
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: 400;
      color: #000;
      display: block;
      padding: 7px 17px;
      outline: none;
      border: 1px solid #cad2d3;
      border-radius: 18px 18px 18px 18px;
      width: 100%;
      max-width: 360px;
    }
  }

  :global(.react-datepicker__input-container.react-datepicker__tether-enabled) {
    & > input {
      border-radius: 18px 18px 0 0;
    }
  }

  & > .caret {
    position: absolute;
    top: 10px;
    right: 10px;
    pointer-events: none;
    color: #f17030;
  }

  &.error {
    & > :global(.react-datepicker__input-container) {
      & > input {
        border-color: #c72f2c;
      }
    }
  }
}

/* datepicker popup */
:global(.react-datepicker) {
  color: red;
}

.fileInputComponent {
  position: relative;
  z-index: 1;

  & > form {
    & > div {
      cursor: pointer;

      & > input[type="file"] {
        cursor: pointer;
      }

      & > input[type="text"] {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        color: #000;
        display: block;
        padding: 7px 7px 7px 30px;
        outline: none;
        border: 1px solid #cad2d3;
        border-radius: 16px;
        width: 100%;
        cursor: pointer;
      }
    }

    & > .reset {
      position: absolute;
      top: 9px;
      right: 90px;
      background-color: transparent;
      border: none;
      color: #cad2d3;
      z-index: 10;
      outline: none;
    }

    & > .browse {
      position: absolute;
      top: 4px;
      right: 4px;
      background-color: #F1702F;
      border: none;
      font-family: 'Roboto';
      font-size: 14px;
      font-weight: 800;
      color: #fff;
      line-height: 28px;
      border-radius: 16px;
      padding: 0 20px;
      cursor: pointer;
    }
  }
}

.errorPopupComponent {
  position: absolute;
  width: 150px;
  height: 40px;
  top: -3px;
  background-color: #c72f2c;
  font-family: 'Roboto';
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  display: none;

  & > .wrapper {
    padding: 4px 15px;
  }

  &.left {
    display: block;
    opacity: 0;
    left: -180px;
    transition: .3s linear all;

    &:after {
      content: "";
      position: absolute;
      right: -7px;
      top: 13px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid #c72f2c;
    }

    &.open {
      opacity: 1;
      left: -160px;
    }
  }

  &.right {
    display: block;
    opacity: 0;
    right: -180px;
    transition: .3s linear all;

    &:after {
      content: "";
      position: absolute;
      left: -7px;
      top: 13px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 7px solid #c72f2c;
    }

    &.open {
      opacity: 1;
      right: -160px;
    }
  }
}

@media only screen
and (max-device-width: 1024px) {

  .errorPopupComponent {
    display: none !important;
  }

}